// ************* Best Products ***********
.best__products {
  width: 100%;
  display: flex;
  align-items: center;
  height: 1073px;
  background: url("../assets/images/bes-bg.png");
  object-fit: contain;
  flex-direction: column;
  padding: 150px 0 197px 0;
  overflow: hidden;
  // display: none;
  &__title {
    @include textStyle($font, bold, 50px, 60px);
    letter-spacing: 5px;
    color: $bright-orange;
    margin-bottom: 49px;
    text-transform: uppercase;
    height: 37px;
  }
  &__content {
    @include textStyle($font, 400, 20px, 32px);
    color: $bright-orange;
    margin-bottom: 74px;
    width: 670px;
    text-align: center;
    height: 52px;
  }
  &__title,
  &__content {
    transition: 1s;
    transform: scale(0.5);
    opacity: 0;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-top: 80px;
    opacity: 0;
    transition: 2s;
  }
  .best__product {
    &__title,
    &__content {
      opacity: 1;
      transform: scale(1);
    }
  }
  .best__list__display {
    margin-top: 0px;
    opacity: 1;
  }
}

// ************* Best Product Item **************
.best__product__item {
  position: relative;
  .rank {
    width: 95px;
    height: 95px;
    z-index: 2;
    position: absolute;
    top: -40px;
    left: -5px;
  }
  &__rank--1 {
    background: url("../assets/images/producticon-01.png");
    object-fit: contain;
  }
  &__rank--2 {
    background: url("../assets/images/producticon-02.png");
    object-fit: contain;
  }
  &__rank--3 {
    background: url("../assets/images/producticon-03.png");
    object-fit: contain;
  }
  &__img {
    z-index: 1;
    // background: url;
    img {
      background-color: blue;
    }
  }
  &__label {
    width: calc(369px - 27px - 8px);
    height: 79px;
    border: 3px solid $dark-maroon;
    background-color: white;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: absolute;
    bottom: -40px;
    align-items: center;
    left: 50%;
    padding: 0 8px 0 27px;
    transform: translateX(-50%) rotateY(10deg);

    &__title {
      @include textStyle($font, 800, 20px, 25px);
      color: $black-three;
      width: 208px;
    }
    &__btn {
      width: 65px;
      height: 66px;
      background: url("../assets/images/go-icon.png");
      object-fit: contain;
    }
  }
}

// **************** Product Item ****************
.product__list {
  max-height: 9691px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 393px;
  padding-top: 142px;
  gap: 72px 18px;
  opacity: 0;
  transition: 1.5s;
  width: 100%;
  display: none;

  .product__item {
    // background-color: cyan;
    cursor: pointer;
    &__img {
      width: 300px;
      height: 300px;
    }
    &__name {
      @include textStyle($font, bold, 18px, unset);
      color: $black-three;
      margin: 29px 0 31px 0;
      height: 19px;
    }
    &__detail {
      display: flex;
      justify-content: space-between;
      @include textStyle($font, normal, 16px, unset);
      color: $black-three;
      height: 14px;

      &__price {
        span {
          margin-left: 7px;
        }
      }
      &__like {
        color: $brownish-grey;
        i {
          color: $pumpkin-orange;
          margin-right: 7px;
        }
      }
      span {
      }
    }
  }
}
.product__list__display {
  opacity: 1;
}
.product__see__more {
  width: 100%;
  text-align: center;
  padding: 116px 0 143px 0;
  // display: none;
}

@media screen and (max-width: 767px) {
  .best__products,
  .product__list,
  .product__see__more {
  }
  .best__products {
    height: 1630px;
    padding: 20px;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 100px;
    }
    .best__product {
      &__title {
        font-size: 25px;
        margin-bottom: 15px;
        height: fit-content;
      }

      &__content {
        width: fit-content;
        height: fit-content;
        margin-bottom: 70px;
      }
    }
    .best__product__item {
      // display: none;
      font-size: 30px;
    }
  }
  .product__list {
    display: grid;
    grid-template-columns: 1fr;
    // grid-template-rows: 400px;
    // padding-top: 142px;
    // gap: 140px 30px;
    // padding: 0 30px !important;
    // margin: 0 auto;
    // margin-top: 50px;
    // display: none;
    padding: 20px;
    grid-gap: 30px;
    max-height: unset;
    .product__item {
      height: 450px;
      img {
        width: 100%;
        height: 340px;
      }
      &__name {
        margin: 30px 0px;
        font-size: 20px;
      }
      &__name,
      &__detail {
        font-size: 20px;
      }
    }
  }
  .product__see__more {
    // margin-top: 50px;
    padding:  40px 20px;
  }
}
