$font: 'Montserrat', sans-serif;
// $font-notosans: 'noto-sans-cjk-kr', sans-serif;
$font-notosans: 'noto-sans-light', sans-serif;

$bright-orange: #f96400;
$bright-orange-two: #ff5500;
$black-three: #222222;
$black-two: #111111;
$pumpkin-orange: #fa7b26;
$brownish-grey: #666666;
$dark-maroon: #020001;
$sun-yellow: #fcd32a;
$dark-brown: #110e03;
$pinkish-grey-two: #ccc8c6;
$cerulean: #0565bb;
$greyish: #a9a9a9;
$width-responsive: 800px;


